<!DOCTYPE html>
<html>
<head>
<!--<style>
	body {background-color:lightgrey}
	h1 {color:blue}
	p {color:green}
</style>-->
<link rel="stylesheet" href="assets/css/miestilo.css">
<title>Ejemplo 1</title>
</head>
<body>
	<div>
		<h1 class="titulo">Bienvenidos a Taller de Programación I</h1>
	</div>
	<img src="assets/img/unne.png"
		width="200"
    	height="100"
     >
	<div class="parrafo">		
		<p>Somos una empresa que se dedica a la venta de relojes de mesa y pared con diseños únicos e innovadores. Utilizamos materia prima de calidad. Elaboramos productos a la medida del cliente.</p>
		<p>Nuevo parrafo de ejemplo.</p>
	</div>
	<nav class="buscador">
		<a href="http://exa.unne.edu.ar/">FACENA</a>
		<a href="https://www.google.com/">Google</a>
	</nav>
	
	<footer>
		<p>Pie de pagina</p>
	</footer>

</body>
</html>